body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #58956c;
    color: #fff;
}

.container {
    display:flex;
    align-items:center;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}

.image {
    margin-right:10px;
}

footer {
    position:relative;
    bottom:0;
    width:100%;
}

.bg-light{
    background-color: #58956c;
}
